/* General Styles */
* {
  font-family: 'Inter', sans-serif;
  /* Works on Firefox */
  scrollbar-width: thin;
  scrollbar-color: #333 whitesmoke;
  margin: 0;
  padding: 0;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar-thumb {
  background-color: #333;
  border-radius: 20px;
}

:root {
  --btn-bg-color: #22c55e;
  --btn-bg-hover-color: #16a34a;
  --close-btn-bg-color: #ef4444;
  --text-color: #ffffff;
  --text-hover-color: #e2e8f0; 
  --box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

.page {
  padding: 16px 24px;
}

.btn {
  background-color: var(--btn-bg-color);
  border: none;
  color: var(--text-color);
  font-size: 1em;
  padding: 12px 16px;
}

.btn:hover {
  background-color: var(--btn-bg-hover-color);
  color: var(--text-hover-color);
  cursor: pointer;
}

/* Main Page */
#main-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#site-heading {
  z-index: 1;
  position: absolute;
  margin-top: -4em;
  top: 50%;
  width: 100%;
  text-align: center;
}

/* TODO: Better option would be to always center in image container without media query. */
@media screen and (min-width: 600px) and (max-width: 1024px) {
  #site-heading {
    top: 45vh;
  }
}

#site-heading button {
  background-color: #166534;
  margin: 16px 0;
  border-radius: 0.5rem;
}

#website-title {
  font-family: 'Dancing Script';
  font-size: 8em;
}

#website-subtitle {
  font-family: 'Dancing Script';
  font-size: 2em;
}

.main-page-img-container img {
  z-index: 0;
  width: 100%;
}

.main-page-img-container img {
  max-width: 100%;
  overflow: hidden;
}

/* Navigation Bar */
nav {
  position: sticky;
  top: 0;
  background-color: #166534;
  box-shadow: var(--box-shadow);
  z-index: 2;
}

.nav-links {
  display: flex;
  justify-content: center;
  padding: 16px 0;
}

.nav-links li {
  font-size: 1rem;
  list-style-type: none;
}

.nav-link {
  text-decoration: none;
  color: var(--text-color);
  margin: 0 0.8em;
}

.nav-link:hover {
  color: var(--text-hover-color);
  cursor: pointer;
}

/* Menu Preview */
.menu-preview {
  text-align: center;
}

#menu-heading {
  margin: 16px;
  text-decoration: underline;
}

.preview-section {
  height: min-content;
  margin-left: 8px;
  margin-right: 8px;
  margin-bottom: 16px;
}

.preview-section-btn {
  padding: 8px;
  border-radius: 4px;
  position: relative;
  margin-bottom: 4px;
  vertical-align: middle;
}

.preview-section-btn:hover {
  cursor: pointer;
  box-shadow: var(--box-shadow);
}

@media screen and (min-width: 768px) {  
  .menu-preview-sections {
    display: flex;
    justify-content: center;
  }
}

/* Menu */
.menu-section {
  margin-bottom: 24px;
}

.menu-section-items {
  display: flex;
  flex-wrap: wrap;
}

.menu-item {
  max-width: 312px;
  margin: 16px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
  padding: 1em 2em;
}

.menu-item:hover {
  cursor: pointer;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
}

.menu-item-name {
  margin-bottom: 4px;
}

.menu-img-container {
  max-width: 312px;
  height: auto;
}

.menu-img {
  max-width: 100%;
}

/* Order Now */
.menu-section-heading {
  font-family: 'Dancing Script';
  font-size: 1.5em;
}

.order-popup {
  height: 100%;
  position: fixed;
  top: 4em;
  right: 0;
  float: right;
  height: 100vh;
  transition: 0.5s;  
  max-width: 312px;
  margin: 16px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
  padding: 1em 2em;
  transform: translate(-150%) 5s ease-in;  
  z-index: 1;
}

.close-btn-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4px 0;
}

.close {
  background-color: var(--close-btn-bg-color);
  float: right;
  padding: 8px;
}

.close:hover {
  background-color: var(--close-btn-bg-color);
}

.item-details {
  margin: 8px 0;
}

.order-description {
  margin-bottom: 8px;
}

.dollar-price {
  font-weight: bold;
}

.total-price {
  font-size: x-large;
  margin: 8px 0;
}

.item-price-control {
  display: flex;
  justify-content: space-between;
}

.order-price {
  font-weight: bold;
}

/* Contact Us */
.form-group {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  width: 100%;
  margin-top: 12px;
  margin-bottom: 16px;
}

.form-group input, .form-group textarea {
  margin-top: 8px;
  padding: 8px;
}

.form-group input:focus, .form-group textarea:focus {
  outline: 4px solid #3b82f6;
}

.contact-message {
  resize: vertical;
}