* {
  font-family: 'Inter', sans-serif;
  /* Works on Firefox */
  scrollbar-width: thin;
  scrollbar-color: #333 whitesmoke;
  margin: 0;
  padding: 0;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar-thumb {
  background-color: #333;
  border-radius: 20px;
}

#main-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#website-title {
  font-size: 48px;
}

.main-page-img-container {
  width: 768px;
}

.main-page-img-container img {
  max-width: 100%;
}

/* Navigation Bar */
nav {
  background-color: #16a34a;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  margin-bottom: 24px;
}

.nav-links {
  display: flex;
  justify-content: center;
  padding: 16px 0;
}

.nav-links li {
  font-size: 1.25rem;
  list-style-type: none;
}

.nav-link {
  color: #f8fafc;
  margin: 0 1.125em;
}

.nav-link:hover {
  color: #e2e8f0;
  cursor: pointer;
}

/* Menu */
#menu-heading {
  margin: 16px;
  text-decoration: underline;
}

.menu-preview {
  text-align: center;
  padding: 16px;
}

.menu-preview-sections {
  box-shadow: inset 0 2px 4px 0 rgb(0 0 0 / 0.05);
}

.preview-section {
  height: min-content;
  margin-left: 8px;
  margin-right: 8px;
  margin-bottom: 16px;
}

.preview-section-btn {
  position: relative;
  padding: 6px 8px;
  border-radius: 4px;
  margin-bottom: 4px;
  vertical-align: middle;
}

.preview-section-btn:hover {
  cursor: pointer;
}

@media screen and (min-width: 768px) {  
  .menu-preview-sections {
    display: flex;
    justify-content: center;
  }
}

@media screen and (max-width: 768px) {
  .main-page-img-container {
    display: none;
  }
}

.menu-sections {
  display: flex;
  flex-direction: column;
}

.menu-section {
  padding: 16px;
  margin-bottom: 4px;
}

.menu-section-items {
  display: flex;
}

.menu-item {
  margin-right: 16px;
}

.menu-item-name {
  margin-bottom: 4px;
}

.menu-img-container {
  max-width: 248px;
}

.menu-img {
  height: 192px;
  max-width: 100%;
  object-fit: contain;
}

/* Contact */
.contact-form {
  padding: 8px 16px;
}

.form-group {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  width: 100%;
  margin: 8px 0;
}

.contact-message {
  resize: vertical;
}

.contact-submit {
  padding: 8px;
}

.contact-submit:hover {
  cursor: pointer;
}