/* App header */
.App {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.App-header {
    text-align: center;
    background-color: #22c55e;
}

.restaurant-icon {
    padding-left: 0.35rem;
}

#company {
    font-family: 'The Nautigal', cursive;
}

.social-media i {
    padding: 0rem 1rem;
}

.restaurant-contact {
    padding: 0 1rem;
}

/* Restaurant Info */
.restaurant-info {
    display: flex;
    background-color: #15803d;
    color: white;
    font-size: large;
    padding: 0.5rem;
    white-space: nowrap;
}

#company {
    color: white;
    width: 50%;
}

@media only screen and (max-width: 768px) {
    #address {
        display: none;
    }

    #phone {
        width: 25%;
    }

    #company {
        width: 50%;
        text-align: center;
        order: 2;
    }

    .social-media {
        width: 30%;
        order: 3;
    }
}

/* Home page */
.home-page {
    position: relative;
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.home-page img {
    width: 100%;
    overflow-y: hidden;
}

.img-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(241, 241, 241, 0.25);
}

@media only screen and (max-width: 768px) {
    .img-overlay {
        height: 100vh;
    }

    .home-page img {
        display: none;
    }
}

#title {
    font-family: 'The Nautigal', cursive;
    font-size: 10em;
    margin: 0;
    text-align: center;
}

#subtitle {
    font-family: 'The Nautigal', cursive;
    text-align: center;
    font-size: 3em;
    margin: 0 auto;
}

.heading-text {
    margin-top: 8em;
}

/* About page */
.about-text {
    max-width: 40vw;
}

@media only screen and (max-width: 768px) {
    .about-text {
        max-width: 100%;
    }
}

/* Hours */
.table-cell-gap {
    width: 20%;
}

.dash-container {
    width: 1.25rem;
    text-align: center;
}

#schedule {
    background-color: white;
    line-height: 1.5em;
    padding: 0.25rem 0.5em;
}

.table-row {
    margin: 0.25rem 2rem;
}

/* Navigation bar */
.nav-container {
    padding: 1rem 0rem;
    margin: 0 auto;
}

.nav-links {
    margin: 0;
    padding: 0;
}

.nav-link {
    text-decoration: none;
    color: black;
    padding: 0rem 2rem;
    font-size: larger;
}

.link {
    text-decoration: none;
    color: black;
}

.nav-link:hover {
    color: #333;
}

/* Contact Form */
.form-container {
    padding: 1rem;
    margin: 8px;
}

.form-fields {
    max-width: 50%;
    margin-bottom: 1.25em;
}

@media only screen and (max-width: 768px) {
    .form-fields {
        max-width: 100%;
    }
}

.form-field {
    padding: 0.5rem 0rem;
    width: 100%;
}

.form-field input, .form-field textarea {
    display: block;
    margin: 0.25rem 0rem;
    padding: 0.5rem 0.25rem;
    border-radius: 0.25rem;
    box-sizing: border-box;
    font-size: 1em;
    width: 100%;
}

.form-field textarea {
    resize: vertical;
    min-height: 2em;
    height: 4em;
    max-height: 16em;
}

.form-field label {
    font-size: medium;
    font-weight: bold;
    display: block;
}

.submit-btn {
    display: block;
    text-align: center;
    padding: 0.5rem 0rem;
    border-radius: 1rem;
    font-size: medium;
    color: white;
    border: none;
    background-color: #22c55e;
    cursor: pointer;
    width: 10rem;
}

/* Footer */
#footer {
    margin-top: auto;
    background-color: #15803d;
    color: white;
    padding: 0.5em 0em;
    text-align: center;
    width: 100%;
}

/* General styles */
* {
    font-family: 'Poppins', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: #bbf7d0;
    height: 100vh;
}

/* Shadow around a container */
.shadow-lg {
    --tw-shadow: 
        0 10px 15px -3px rgba(0,0,0,.1),
        0 4px 6px -4px rgba(0,0,0,.1);
    --tw-shadow-colored: 
        0 10px 15px -3px var(--tw-shadow-color), 
        0 4px 6px -4px var(--tw-shadow-color);
    box-shadow: 0 0 #0000,0 0 #0000, var(--tw-shadow);
    box-shadow: 
        var(--tw-ring-offset-shadow, 0 0 #0000),
        var(--tw-ring-shadow, 0 0 #0000),
        var(--tw-shadow);
}

.page-container {
    margin: 3rem 2rem; 
}