/* Navigation bar */
.nav-container {
    margin: 0 auto;
}

.nav-links {
    margin-left: 0;
    padding-left: 0;
}

.nav-link {
    text-decoration: none;
    color: black;
    padding-right: 1rem;
    font-size: larger;
}

.nav-link:hover {
    color: #333;
}